* {
  background-color:#424549;
  color:white;
}

html > body{
  background-color:#424549;
}

div.day > * {
  background-color: inherit;
}

div.event > *{
  background-color: inherit;
  color: initial;
}

h2.week > a{
  color:white;
}