.aalborg_title {
    color: red;
    font-family: "Comic Sans MS";
}

#kursustable > thead {
    font-weight: bold;
}

/* BetterMoodleSchedule (BMS) element styles */
#tUpcomingEvent {
    border: 1px solid black;
}

#tUpcomingEvent > thead {
    font-weight: bold;
}

#tUpcomingEvent > tbody > tr > td {
    border: 1px solid black;
    border-collapse: collapse;
}